# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/

# Build/package files
build/
dist/
*.egg-info/

# Environment variables
.env
.venv/
.pytest_cache/
__pycache__/
*.py[cod]